.contact-us {
    margin-top: 120px;
    position: relative;
    padding: 50px 0px;
    margin-bottom: 200px;
}

.contact-us:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 65%;
    height: 100%;
    background-color: #DEEBFE;
    content: '';
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}


.contact-us .section-heading {
    margin-right: 110px;
    margin-bottom: 0px;
   
}

.contact-us .section-heading h1 {
    font-family: 'Poppins';
    color: #1C4D9E;
    font-size: 40px;
    font-weight: 700;
   
}

.contact-us .section-heading h2 {
    font-family: 'Poppins';
    color: #000000;
    font-weight: 500;
    margin-top: 30px;
    font-size: 35px;
}

.contact-us .section-heading p {
    margin-top: 30px;
    font-family: 'Poppins';
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    line-height: 2px;
}

.contact-us .contact-info {
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Ensure items are displayed under each other */
}

.contact-us .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-us .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: #ffffff; 
    border-radius: 50%;
}
.contact-us .icon-container:hover {

    background-color: #1C4D9E; 
    
}

.contact-us .iconcontact {
    width: 20px;
    height: 20px;
    color: #1C4D9E; 
}
.contact-us .iconcontact:hover {
   background-color: #1C4D9E; 
    color: #fff;
}



.contact-us .info {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333;
}

.contact-us .info-item:last-child {
    margin-bottom: 0; /* Remove margin from the last item */
}

.contact-us .contact-us-content {
    border-radius: 25px;
    padding: 80px;
    background: linear-gradient(210.88deg, #2C599D -14.6%, #5B84C4 69.73%), #D9D9D9;
    border-radius: 30px;
    position: relative;
    z-index: 1;
}

.contact-us .contact-us-content::before {
    background: url('../img/section/shape1.png');
    position: absolute;
    left: 50%;
    transform: translateX(-149px);
    opacity: 0.5;
    top: 0;
    width: 318px;
    height: 119px;
    content: '';
    z-index: 2;
}

.contact-us .contact-us-content::after {
    background: url('../img/section/shape2.png');
    position: absolute;
    right: 0;
    bottom: 0;
    width: 183px;
    height: 149px;
    content: '';
    z-index: 2;
}

#contact-form input {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(252, 246, 255, 0.477);
    border: none;
    outline: none;
    font-weight: 300;
    padding: 0px 20px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
    margin-left: -10px;
}

#contact-form input::placeholder {
    color: #fff;
}

#contact-form textarea {
    width: 100%;
    height: 120px;
    border-radius: 25px;
    background-color: rgba(252, 246, 255, 0.477);
    border: none;
    outline: none;
    font-weight: 300;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
    margin-left: -10px;
}
@media (max-width: 768px) {
    #contact-form textarea{
        margin-left: 10px;
    }
    #contact-form input{
        margin-left: 10px;
    }
  }

#contact-form textarea::placeholder {
    color: #fff;
}

#contact-form button {
    border: none;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    background-color: #FB9B50;
    padding: 0px 25px;
    border-radius: 25px;
    color: #ffffff;
    transition: all .4s;
    position: relative;
    z-index: 3;
}

#contact-form button:hover {
    border: #fff;
    color: rgb(255, 255, 255);
    background-color: #FF8A1F !important;
}

@media (max-width: 768px) {
    .contact-us {
        padding: 30px 0px;
    }

    .contact-us:before {
        width: 100%;
        border-radius: 0;
    }

    .contact-us .section-heading {
        margin-right: 0;
        text-align: center;
    }

    .contact-us .contact-us-content {
        padding: 40px;
    }
}
