.title-event {
      position: absolute;
     top: 300px;
    }

    @media (max-width: 767px) {
      .title-event {
            position: absolute;
           top: 200px;
           margin-bottom: 500px;
          }

          .title-event h1{
            
            color: #2C599D !important;
    
      }

      .title-event p{
            color: #2C599D !important;
         
      }
  }
    
.title-event h1{
      font-family:'Poppins';
      font-size: 40px;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.5;
      margin-left: 99px;
    
   
}
.title-event p{
      font-family:'Poppins';
      font-size: 15px;
      font-weight: 400;
      color: #ffffff;
      
      margin-left: 99px;
    
   
}

.eventpart{
      margin-top: 130px;

}
.iconevent{
    
      padding: 5px;
}